#slider_container::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: rgb(233, 239, 250);
}
#slider_container::-webkit-scrollbar-thumb {
	background-color: #9900ff;
	border-radius: 4px;
}

body {
	background-color: black;
}

.features {
	width: calc(100% - 440px);
	margin: 0;
	background-color: var(--back-color);
	padding: 100px 15% 10px 15%;
}
.about {
	min-height: 280px;
	margin-top: 700px;
}
.about p {
	color: white;
	width: 80%;
	font-size: 18px;
	text-align: justify;
	text-justify: inter-word;
}
.resume {
	font-family: var(--font);
	border-radius: 12px;
	border: none;
	background-color: rgb(153, 0, 255);
	color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 8px;
	outline: none;
}
.resume:hover {
	background-color: rgb(187, 85, 255);
}
.resume:active {
	background-color: rgb(99, 13, 156);
}
.profile_pic {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	min-width: 300px;
	min-height: 300px;
	filter: grayscale();
	background-image: url(dan.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 300px;
	cursor: pointer;
	background-color: red;
}
.profile_pic:hover {
	filter: none;
}

 a:link {
	 color: red;
 }
 .technologies ul {
	 display: grid;
	 border-radius: 12px;
	 background-color: rgba(187, 187, 187, 0.37);
	 grid-template-columns: repeat(5, 20%);
 }
 .technologies li {
	 list-style: none;
 }
 .technologies li > h2 {
	 background-color: white;
	 border-radius: 12px;
	 background-size: 60px;
	 background-position: center;
	 background-repeat: no-repeat;
	 height: 80px;
	 width: 80px;
	 padding: 10px;
 }
 .projects {
	padding: 60px 10%;
 }
 .projects ul {
	margin: 0;
	padding: 0;
 }
 .projects li {
 }
 .projects p {
	 position: relative;
	 width: 52%;
	 font-size: 16px;
	 line-height: 17px;
	 background-color: rgb(63, 43, 82);
	 padding: 20px 26px;
	 z-index: 20;
 }
 .projects li > h1 {
	 font-size: 20px;
 }
 .projects div {
	 border-radius: 6px;
	 position: relative;
	 top: -260px;
	 left: 54%;
	 width: 540px;
	 height: 380px;
	 background-color: red;
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat;
	 filter: blur(3px);
	 cursor: pointer;
	 z-index: 10;
 }
 .projects div:hover {
	filter: none;
}
.projects div:active {
	filter: brightness(120%);
}

@media only screen and (max-device-width : 640px) {
	/* Styles */

}
	
@media only screen and (max-device-width: 768px) {
	/* Styles */
	.head_cont h1{
		font-size: 6vw;
	}
	.head_cont span {
		font-size: 7vw;
	}
	[presentation="play"] {
		width: 16vw;
		height: 16vw;
		background-size: 10vw;
		border: 10px solid white;
		left: calc(50% - 8vw);

	}
	.features {
		padding: 6vw;
		margin: 0;
	}
	.features div {
		width: 100%;
	}
	.features p {
		width: 100%;
	}
}




* {
	box-sizing: border-box;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-box {
	display: flex;
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 30px;
}
p {
	font-size: 20px;
	text-align: justify;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100vh;
	max-width: 100vw;
	overflow-y: scroll;
	overflow-x: hidden;
}

#background_canvas {
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
}

#content_menu {
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
}

#content_menu ul {
	bottom: 0;
	margin: 0;
	padding: 0;
	padding-left: 20vw;
	display: flex;
	padding-bottom: 40px;
}

#content_menu li {
	cursor: pointer;
	text-align: center;
	list-style: none;
	width: 15vw;
	font-size: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#content_menu li:hover {
	background-color: rgba(255, 255, 255, 0.815);
	backdrop-filter: blur(5px);
	color: rgb(95, 64, 167);
}

#head_name {
	margin-top: calc(50vh - 80px);
	font-size: 30px !important;
	position: relative;
	width: 100vw;
	text-align: center;
	text-shadow: 0px 0px 20px black;
}

.social_media {
	width: 100vw;
	align-content: center;
	display: flex;
	z-index: 10;
	border-radius: 0 18px 0 0;
	padding-left: calc(50vw - 85px);
}
.social_media button {
	border: none;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	outline: none;
}
.social_media button:hover {
	background-size: 36px;
}

#about {
	height: 70vh;
	display: none;
	background-color: rgba(255, 255, 255, 0.075);
	text-align: center;
	padding: 5vw;
	margin-top: 40px;
	position: relative;
	width: 90vw;
	margin-left: 5vw;
	border-radius: 4px;
	backdrop-filter: blur(2px);
}

#about div>div {
	width: 45vw;
}

#about canvas {
	width: 45vw;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	margin-left: 5vw;
}

.skill-badges {
	margin-left: 6vw;
    position: relative;
    width: 39vw !important;
}

.cluster {
	position: absolute;
	width: 80px;
	max-width: 80px;
	height: 80px;
	max-height: 80px;
	background-color: white;
	color: #9900ff;
	text-align: center;
	align-items: center;
	border-radius: 50%;
	padding-top: 34px;
	font-size: 12px;
	cursor: pointer;
}

.cluster:hover {
	background-color: #9900ff;
	color: white;
}